.happy {

    display: flex;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 300px;
    max-height: 300px;
}

.happy__text {
    color: black;
    text-align: center;
    font-size: 50px;
    padding-top: 170px;
}